/* general */

::selection {
    background: rgb(155, 89, 182);
    color: white;
}
::-moz-selection {
    background: rgb(155, 89, 182);
    color: white;
}
body {
    background-color: rgb(44, 62, 80);
    min-height: 100vh;
}

@font-face {
    font-family: handwriting;
    src: url(Morsal.ttf);
}

#tagline {
    padding-top: 5px;
    font-family: handwriting;
    font-style: italic;
    font-size: 24px;
}
#para, .video i {
    padding: 5px 0px;
	text-shadow: 0px 1px 4px rgb(60, 56, 120);
}


/* icons */

.icon {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 40px;
    font-size: 24px;
    color: white;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.icon:hover {opacity: 1}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:hover {text-decoration: none; cursor: pointer}
a:active {text-decoration: none}

#refresh-link, #optimize-link {text-decoration: underline}

