/* general */

::selection {
    background: rgb(155, 89, 182);
    color: white;
}
::-moz-selection {
    background: rgb(155, 89, 182);
    color: white;
}
body {
    background-color: rgb(44, 62, 80);
    min-height: 100vh;
}

@font-face {
    font-family: handwriting;
    src: url(Morsal.ttf);
}

#tagline {
    padding-top: 5px;
    font-family: handwriting;
    font-style: italic;
    font-size: 24px;
}
#para, .video i {
    padding: 5px 0px;
	text-shadow: 0px 1px 4px rgb(60, 56, 120);
}


/* icons */

.icon {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 40px;
    font-size: 24px;
    color: white;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.icon:hover {opacity: 1}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:hover {text-decoration: none; cursor: pointer}
a:active {text-decoration: none}

#refresh-link, #optimize-link {text-decoration: underline}


/* card and overlays */

.card {
    background-color: transparent;
    max-width: 100%;
    perspective: 1000px;
    aspect-ratio: 1024 / 768;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    margin-bottom: 30px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card:hover .card-inner {
    -webkit-transform: rotateY(180deg) scale(1.1);
    transform: rotateY(180deg) scale(1.1);
}

.card-front img {
    width: 100%;
    border-radius: 10px;
    opacity: 1.0;
}

.card-front, .card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
    border-radius: 12px;
}

.card-back, .card-back::before {background-color: white}

.card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.glow::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    filter: blur(20px);
    -webkit-animation: animate 5s linear infinite;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {opacity: 1}
    50% {opacity: 0.3}
    100% {opacity: 1}
}

.card-grid {
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: 1.618fr 1fr;
    grid-template-rows: 1.618fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "video text"
        "video link";
    border-radius: 10px;
}
.video {
    grid-area: video;
    background-color: #5990b4;
    font-size: 4rem;
    border-radius: 10px 0px 0px 10px;
}
.text {
    grid-area: text;
    background-color: #ecf0f1;
    color: black;
    font-weight: 300;
    padding: 10px;
    border-radius: 0px 10px 0px 0px;
    overflow-y: auto;
    font-size: 1.3rem;
}
.link {
    grid-area: link;
    background-color: #bdc3c7;
    color: #7f8c8d;
    font-size: 3rem;
    border-radius: 0px 0px 10px 0px;
}
.video, .link {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#this .card-front {
    opacity: 0.8;
}
#this .card-back {
    background-color: black;
    z-index: 2;
}
#this .card-back .text,
#this .card-back .link {
    font-size: 3.5rem;
    color: white;
    background-color: black;
    font-family: 'Cabin Sketch', sans-serif;
}
#this .card-back .link {
    opacity: 0.8;
}
body {
    transition: background-color 1s;
}

.video {
    position: relative;
    overflow: hidden;
}

.card-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.video i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.nopointer {
    cursor: not-allowed !important;
}