img {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

a {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 40px;
    font-size: 24px;
    color: white;
    transition: color 0.1s;
}
a:hover {
    color: rgb(155, 89, 182);
    transform: scale(1.1);
    cursor: pointer;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body {
    background-color: rgb(44, 62, 80);
    min-height: 100vh;
}

:root {
  --gradient-opacity: 0.3;
}

#grain-container {
  min-height: 100vh;
  background-color: rgba(153, 162, 255, var(--gradient-opacity));
  background-image:
    radial-gradient(at 37% 71%, hsla(284,91%,61%,var(--gradient-opacity)) 0px, transparent 50%),
    radial-gradient(at 83% 3%, hsla(328,83%,66%,var(--gradient-opacity)) 0px, transparent 50%),
    radial-gradient(at 38% 42%, hsla(213,89%,70%,var(--gradient-opacity)) 0px, transparent 50%),
    radial-gradient(at 7% 51%, hsla(279,71%,79%,var(--gradient-opacity)) 0px, transparent 50%),
    radial-gradient(at 72% 4%, hsla(141,83%,60%,var(--gradient-opacity)) 0px, transparent 50%),
    radial-gradient(at 75% 6%, hsla(245,60%,66%,var(--gradient-opacity)) 0px, transparent 50%),
    radial-gradient(at 24% 53%, hsla(59,73%,71%,var(--gradient-opacity)) 0px, transparent 50%);
}


#grain {pointer-events: none;}

.glass {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0. 0.37);
}

@font-face {
    font-family: handwriting;
    src: url(Morsal.ttf);
}

h5 {
    font-family: handwriting;
    font-style: italic;
    font-size: 24px;
}