/* video player */

.video {
    position: relative;
    overflow: hidden;
}
.card-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.video i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.message {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}